main {
  display: flex;
  flex-direction: column;
}

.btnGoBack {
  border-radius: 3px;
  border: 1px solid rgb(212, 212, 212);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  outline: none;
}

.sectionAdditionalInfo {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.iconSpin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #000000;
  animation: icon-spin 2s infinite linear;
}

@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
